@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "The Deeds of Joel Hilton";
}

<h2>Actions Speak Louder than Words</h2>
<h3>Joel puts his money where his mouth is!</h3>

<p>He and the folks at <a href="https://baconsale.com/">Baconsale know a thing or two about quality entertainment!</a></p>
<a href="https://baconsale.com/"> <img src="~/BaconsaleKate.jpg" alt="The Baconsale Crew" height="400" /></a>

<p>He knows how to handle a crowd, top! See him live at <a href="https://www.qwcomedy.com/">Quick Wits Comedy in Salt Lake City!</a></p>