@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Joel Hilton Film Collection!</h1>
    <p>Learn about <a asp-action="GetToKnow" asp-controller="Home"></a>Spencer Hilton's greatest rival.'</p>
</div>

<img src="~/JoelHiltonHeadshot.jpg" alt="The Man Himself" height="800" />